{% extends "base.html" %}
{% block content %}

<div class="auth-page">

    <div class="auth-box">

        <div class="auth-header">
            <h2>Create Account 🚀</h2>
            <p>Start your AI resume journey</p>
        </div>

        <form method="POST" class="auth-form">

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="you@example.com" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Min 6 characters" required>
            </div>

            <button type="submit">Sign Up</button>

        </form>

        <p class="auth-footer">
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</div>

{% endblock %}